// Colores
$rojo: #F42272;
$naranja: #ff6700;
$morado: #715aff;
$azul: #5cfff1;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #000;
    line-height: 1.7;
}

.container {
    width: 80%
}

@mixin rm-decoration() {
    &:hover {
        text-decoration: none !important;
    }
    color: #fff !important;
}



.btn-a {
    background-color: $morado;
    font-weight: bolder;
    font-size: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 2.2rem;
    @include rm-decoration;
    transition: ease-in all 0.1s;
    &:hover {
        background-color: darken($color: $morado, $amount: 10%);
    }
}





@mixin cool-bg($color-a, $color-b) {
    background: linear-gradient(163deg, $color-a, $color-b);
    background-size: 400% 400%;

    -webkit-animation: Animation-header 8s ease infinite;
    -moz-animation: Animation-header 8s ease infinite;
    animation: Animation-header 8s ease infinite;
}

@-webkit-keyframes Animation-header {
    0% {
        background-position: 32% 0%
    }

    50% {
        background-position: 69% 100%
    }

    100% {
        background-position: 32% 0%
    }
}

@-moz-keyframes Animation-header {
    0% {
        background-position: 32% 0%
    }

    50% {
        background-position: 69% 100%
    }

    100% {
        background-position: 32% 0%
    }
}

@keyframes Animation-header {
    0% {
        background-position: 32% 0%
    }

    50% {
        background-position: 69% 100%
    }

    100% {
        background-position: 32% 0%
    }
}