@import 'vars';


header {
    padding-top: 5rem;

    @include cool-bg($rojo, $azul-2);


    svg {
        display: block;
        width: 100%;
    }
}

.me-header {
    color: #fff;
    padding: 4.5rem;
    text-align: center;

    h1 {
        font-weight: 700;
    }

    @media (max-width: 600px) {
        background-color: transparent;
        border-radius: none;
    }

    img {
        border-radius: 50%;
        max-height: 20rem;
    }
}

.about {
    margin-top: 5rem;

    h2 {
        font-weight: 700;
        color: $rojo;
        font-size: 4.3rem;
    }
}

.portfolio {
    background-color: $green;

    svg {
        background-color: #fff;
        display: block;
    }

    h2 {
        font-size: 13vw;
        font-weight: bold;

        @media (max-width: 750px) {
            font-size: 17vw;
        }
    }

    .container-port {
        width: 90%;
        margin: 6rem auto 2rem auto;
    }

    padding-bottom: 3rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;

    @media (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.port-image {
    margin-bottom: 3rem;
    text-align: center;

    a {
        color: $azul;
    }
}

.blog-intro {
    min-height: 100vh;
    background-color: #282a36;
    $fs: 10rem;
    $fs-span: $fs + 1rem;

    h2 {
        font-size: $fs;
        color: #f8f8f2;

        span {
            // color: #50fa7b;
            @include cool-bg(#ffb86c, #50fa50);
            padding: 0.3rem 1.3rem;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: italic;
            font-size: $fs-span;
            text-decoration: underline #8be9fd;
            max-width: 100vw;
        }

        @media (max-width: 600px) {
            $fs: 4rem;
            font-size: $fs;
            line-height: 1;

            span {
                font-size: 4.5rem;
            }
        }
    }
}

.blg-btn {
    margin-top: 10vh;
    @include cool-bg(#bd93f9, #ff79c6);
    color: #282a36 !important;
    padding: 3rem;
    border-radius: 3rem;

    span {
        color: #50fa7b;
    }

    &:hover {
        text-decoration: none !important;
        @include cool-bg(#8be9fd, #50fa7b);

        span {
            color: #ff79c6;
        }
    }

    @media (max-width: 650px) {
        margin-top: 5rem;
    }
}

.site-footer {
    text-align: center;
    background-color: $rojo;
    min-height: 50vh;

    div * {
        color: #fff;
    }

    div h2 {
        font-size: 8rem;

        @media (max-width: 555px) {
            font-size: 5rem;
            line-height: 1.3;
            padding-top: 3rem;
        }
    }

    .social-media {
        margin: 6rem auto;
        justify-content: space-around;
    }
}