@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import 'vars';

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #000;
}

header {
    height: 100vh;
    // background-image: url('../img/bg-1.png');
    background-color: $rojo;
    background-position: center;
    background-size: cover;
    position: relative;
}
.svg-header {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.me-header {
    color: #fff;
    // padding-top: 30vh;
    background-color: $azul;
    padding: 9rem;
    border-radius: 30% 70% 70% 30% / 30% 33% 67% 70%; 
    text-align: center;
    img {
        border-radius: 50%;
        height: 20rem;
    }
}

.site-header {
    svg {
        display: block;
    }
}

// .vody {
//     background-color: $rojo;
//     svg {
//         height: 100vh;
//     }
// }